/*-------------
  RESET
-------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-------------
  TYPOGRAPHY
-------------*/
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    height: 100vh;
}

/*-------------
   COMMON
-------------*/
.row {
    display: flex;
}

header .nav-top ul li a{
    text-decoration: none;
    color: white;
}
/*-------------
  BUTTONS
-------------*/

/*-------------
  HEADER
-------------*/
header{
    text-align: right;
}
header .nav-top ul li {
    display: inline-block;
    margin: 5px 10px;
    background-color: rgba(111, 124, 137, 0.6);
    padding: 8px 10px;
    border-radius: 10px;
}

/*-------------
  MAIN
-------------*/
main {
    height: calc(100% - 175.2px);
    width: 90%;
    margin: 20px auto;
    overflow-y: auto;
}
main .user img{
    width: calc(100% - 10px);
    display: block;
    margin: 10px;
}
main .user {
    position: relative;
}
main .user .user-name{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px;
    background-color: rgba(111, 124, 137, 0.6);
}
/*-------------
  FOOTER
-------------*/
footer {
    height: 90px;
    background-color: #222222 ;
}