/*-------------
  RESET
-------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-------------
  TYPOGRAPHY
-------------*/
body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    height: 100vh;
}

/*-------------
   COMMON
-------------*/
.row {
    display: flex;
}

header .nav-top ul li a{
    text-decoration: none;
    color: white;
}

/*-------------
EFFETTI / HOVER
-------------*/
header .nav-top ul li:hover {
    background-color: rgba(111, 124, 137, 1);
}
footer .nav-bottom .action:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(111, 124, 137, 0.5);
    border-radius: 20px;
}
footer .nav-bottom .more-actions:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #222222 ;
    border-radius: 50%;
}
footer .nav-bottom .bottom-right .end-call:hover{
    text-decoration: underline;
    text-decoration-color: red;
}
footer .nav-bottom .bottom-center #share-screen:hover{
    color: rgba(75, 200, 0, 1);
}
footer .nav-bottom .same-button:hover{
    background-color: rgba(111, 124, 137, 1);
    border-radius: 20px;
}
/*-------------
  HEADER
-------------*/
header{
    text-align: right;
}
header .nav-top ul li {
    display: inline-block;
    margin: 5px 10px;
    background-color: rgba(111, 124, 137, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
}

/*-------------
  MAIN
-------------*/
main {
    height: calc(100% - 148.9px);
    width: 90%;
    margin: 20px auto;
    overflow-y: auto;
}
main .user{
    width: calc(100% - 20px);
    margin: 10px;
    position: relative;
}
main .user img{
    width: 100%;
    display: block;
}
main .user .user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 5px;
    background-color: rgba(111, 124, 137, 0.6);
}
/*-------------
  FOOTER
-------------*/
footer {
    height: 70px;
    background-color: #222222 ;
}
footer .row{
    align-items: center;
    height: 100%;
}
footer .nav-bottom .same-button{
    padding: 5px;
    margin: 0 5px;
}
footer .nav-bottom .action i{
    display: block;
    text-align: center;
}
footer .nav-bottom .action {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 7px;
    margin: 0 10px;
}
footer .nav-bottom .bottom-left{
    width: 20%;
}
footer .nav-bottom .more-actions{
    transform: rotate(180deg);
    transition: transform 0.5s;
}
footer .nav-bottom .bottom-left .more-actions{
    margin: 0 0 0 -10px;
}
footer .nav-bottom .bottom-center .more-actions{
    margin-right: -5px;
}
footer .nav-bottom .more-actions:hover{
    transform: rotate(0deg);
}
footer .nav-bottom .bottom-right{
    width: 20%;
    justify-content: flex-end;
    align-items: stretch;
}
footer .nav-bottom .bottom-center{
    width: 60%;
    justify-content: center;
}
footer .nav-bottom .bottom-center #share-screen{
    color: rgba(75, 200, 0, 0.7);
}
footer .nav-bottom .bottom-right .end-call{
    background-color: #4a4a4a;
    padding: 0 25px;
    color: red;
    margin: 0;
    border-radius: 0;
}
footer .nav-bottom .bottom-center button:first-of-type span{
    margin-left: -7px;
}

